<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portifolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="header-container">
      <div class="header">
        <div class="checkbox-container">
          <div class="checkbox-wrapper">
            <input type="checkbox" id="toggle">
            <label class="checkbox" for="toggle">
              <div class="trace"></div>
              <div class="trace"></div>
              <div class="trace"></div>
            </label>
            <div class="menu"></div>
            <nav class="menu-items">
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Sobre</a>
                </li>
                <li>
                  <a href=#projetos>Projetos</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="teste">
      <img src="../static/foto3.png">
      <h1>Gustavo Gonçalves</h1>
      <h2>Full-stack Developer</h2>

      <div class="social-media">
        <a href="https://www.linkedin.com/in/gustavo-gon%C3%A7alves-dias-neves-3b76b3252https://github.com/gustavogoncalvesdiasneves">LinkedIn</a>
        <a href="https://github.com/gustavogoncalvesdiasneves">GitHub</a>
      </div>
      </div>
  </header>
  <main class="container" id="projetos">
    <a href="https://github.com/gustavogoncalvesdiasneves/BOT_LinkedIn_PlayerG4" style="text-decoration:none" target="_blank"
    <div class="card-container" >
      <div class="card-1">
        <div class="card-wrapper">
          <h2>LinkedIn BOT</h2>
          <p>Venha Conferir!</p>
        </div>
      </div>
      <div class="card-text">
        <p>Esse Projeto tem o Objetivo de facilicitar a realização de Conexões no LinkedIn para pessoas que não tem muito tempo para ficar em Redes Sociais, com mensagens personalizadas.</p>
      </div>
    </a>

    </div>
      <a href="https://github.com/gustavogoncalvesdiasneves/Aplicativo_5S_-PowerApps-" style="text-decoration:none" target="_blank"
    <div class="card-container">
      <div class="card-2">
        <div class="card-wrapper">
          <h2>Aplicativo 5S</h2>
          <p>Venha Conferir!</p>
        </div>
      </div>
      <div class="card-text">
        <p>Esse projeto tem o objetivo de ajudar as empresas com a Gestão do 5S, por base do Microsoft Power Apps (Microsoft 365 - Plataforma de Apps Intranet).</p>
      </div>
    </div>
    </a>

    <a href="https://github.com/gustavogoncalvesdiasneves/Aplicativo_5S_-PowerApps-" style="text-decoration:none" target="_blank"
    <div class="card-container">
      <div class="card-3">
        <div class="card-wrapper">
          <h2>Tasker APP (Aplicativo de Tarefas)</h2>
          <p>Venha Conferir!</p>
        </div>
      </div>
      <div class="card-text">
        <p>Esse Projeto tem o objetivo de ajudar a comunidade com Projetos Open-Source
de Realizador de Tarefas, para customizações a gosto do usuario =D.</p>
      </div>

    </div>
  </a>
  </main>
  <main class="footer">
    Feito por Gustavo Gonçalves
  </main>
  </body>
</html>
